body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: auto;
    height: 100vh;
    background: url(./background-img.jpeg) no-repeat;
    background-size: cover;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 640px;
    aspect-ratio: 3/2;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 24px;
    backdrop-filter: blur(10px);
    background: linear-gradient(210deg, rgb(255, 0, 0, .5), rgba(60, 60, 60, .5), rgb(255, 165, 0, .5));
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    font-weight: bold;
    color: white;
}

.hours,
.minutes,
.seconds {
    position: relative;
}

.hours,
.minutes {
    margin-right: 12px;
}

.hours::before,
.minutes::before,
.seconds::before {
    position: absolute;
    top: 85%;
    left: 0;
    font-size: 14px;
}

.hours::before {
    content: 'HOURS';
}

.minutes::before {
    content: 'MINUTES';
}

.seconds::before {
    content: 'SECONDS';
}

.hours::after,
.minutes::after {
    content: ':';
    margin-left: 12px;
}

.date {
    display: block;
    margin-top: 24px;
    text-align: center;
    font-weight: bold;
    color: white;
    border: 16px solid white;
    border-radius: 16px;
    padding: 12px;
    box-sizing: border-box;
}

.title {
    border-style: solid;
    border-width: 2px 0;
}

.day {
    font-size: 256px;
}

.month-year {
    font-size: 24px;
}

@media screen and (max-width: 1024px) {
    .main {
        height: 75vh;
        width: calc(75% - 25px);
        min-width: 400px;
        border-radius: 12px;
        backdrop-filter: blur(5px);
    }

    .timer {
        font-size: 54px;
    }

    .hours::before,
    .minutes::before,
    .seconds::before {
        font-size: 12px;
    }

    .hours,
    .minutes {
        margin-right: 6px;
    }

    .hours::after,
    .minutes::after {
        margin-left: 6px;
    }

    .date {
        margin-top: 12px;
        border: 8px solid white;
        padding: 6px;
    }

    .day {
        font-size: 194px;
    }

    .month-year {
        font-size: 20px;
    }
}

@media screen and (max-width: 540px) {
    .main {
        height: 75vh;
        width: calc(100% - 25px);
        min-width: 350px;
        border-radius: 12px;
        backdrop-filter: blur(5px);
    }

    .timer {
        font-size: 54px;
    }

    .hours::before,
    .minutes::before,
    .seconds::before {
        font-size: 12px;
    }

    .day {
        font-size: 194px;
    }

    .month-year {
        font-size: 20px;
    }
}